package ${package};

import cn.eeepay.framework.db.pagination.Page;
import ${package}.model.workOrder.${className}Entity;
import java.io.Serializable;
import java.util.Collection;
import java.util.List;
/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service  {

    List<${className}Entity> queryPage(Page page,${className}Entity info);

    ${className}Entity info(Long id);

    boolean saveOrUpdate(${className}Entity info);

    boolean removeById(Long id);

}

